<!DOCTYPE html>
<html>
    <head>
        <link rel="icon", href="/img/justpaykro.png">
        <title>404</title>
    </head>
    <body>
        <div class="main-container">
            {{>header}}
            <p>{{errorMsg}}</p>
        </div>
        {{>footer}}
    </body>
</html>