<!DOCTYPE html>
<html>
    <head>
        <link rel="icon", href="/img/justpaykro.png">
        <link rel="stylesheet", href="/css/styles.css">
        <title>About</title>
    </head>
    <body>
        <div class="main-container">
            {{>header}}
            <p>This site was created by rishi raj. It use data from mapbox.com darksky.net  </p>
            <img class="portrat" src="/img/mithila.jpg">
        </div>
        {{>footer}}

    </body>
</html>