<!DOCTYPE html>
<html>
    <head>
        <link rel="icon", href="/img/justpaykro.png">
        <link rel="stylesheet", href="/css/styles.css">
        <title>Help</title>
    </head>
    <body>
        <div class="main-container">
            {{>header}}
            <h1>{{message}}</h1>
        </div>
        {{>footer}}
    </body>
</html>